---
import { Image } from "astro:assets";
import fullHDSplash from "~/assets/hands.png";
import MainLayout from "~/layouts/main-layout.astro";

let prevHref = "/everleigh-story/problems";
let nextHref = "/everleigh-story/departure";
let pageName = "thoughts";
---

<MainLayout>
    <section class="adaptive-nested-overflow relative h-full bg-black">
        <Image
            src={fullHDSplash}
            class="absolute right-0 top-0 h-full w-full object-cover"
            style="image-rendering: pixelated; object-position: top right bottom"
            alt="Background Image"
        />
        <div class="relative grid h-full place-items-center sm:grid-cols-2">
            <h2
                class="flex w-full flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto"
            >
                <span
                    id="random-text"
                    class="gradient-text inline-block text-center align-middle font-bold tracking-tighter text-6xl md:text-4xl"
                    style="height: 200px;"
                >
                    ...
                </span>

                <div>
                    <a href={prevHref} class="non-accented-btn mr-6"> Назад </a>
                    <a
                        href={nextHref}
                        class="accented-btn ml-6"
                        id={"next-story-element-" + pageName}
                    >
                        Дальше
                    </a>
                </div>
            </h2>
        </div>
    </section>
</MainLayout>

<style>
    @media (max-aspect-ratio: 1/1) {
        /* Styles for when the viewport is taller than it is wide */
        .object-cover {
            object-position: 75% !important;
        }
    }

    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const strings = [
            { text: "Соберись, тряпка", color: "white" },
            { text: "Теперь ничто не ранит", color: "white" },
            { text: "Всё под контролем", color: "white" },
            { text: "Голова раскалывается", color: "white" },
            { text: "Кровь тебе к лицу", color: "red" },
            { text: "Подруга, ты справишься", color: "white" },
            { text: "Разум кипит", color: "white" },
            { text: "Уж лучше я, чем кто-либо ещё", color: "white" },
            { text: "Убей меня", color: "red" },
        ];

        let lastX = 0;
        let lastY = 0;

        const randomTextElement = document.getElementById("random-text");

        if (!randomTextElement) {
            return;
        }

        document.addEventListener("mousemove", (event) => {
            const { clientX: x, clientY: y } = event;
            if (Math.abs(x - lastX) > 20 || Math.abs(y - lastY) > 20) {
                lastX = x;
                lastY = y;

                // Get a random string
                const randomString =
                    strings[Math.floor(Math.random() * strings.length)];

                // Update the text and color
                randomTextElement.textContent = "«" + randomString.text + "»";
                randomTextElement.style.color = randomString.color;
            }
        });
    });
</script>
