<div
    class="adaptive-nested-overflow flex"
    style="display: flex; justify-content: center;"
>
    <div
        class="adaptive-nested-overflow prose flex flex-col dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-p:mt-0 prose-p:text-justify prose-a:text-blue-600 prose-img:rounded-xl"
    >
        <slot />
    </div>
</div>
