---
import { Image } from "astro:assets";

const {
    imageUrl = null,
    pageName = "#",
    title = "Default Title",
    hoverImageUrl = null,
    description = "Default description",
    alt_text = "Everleigh Story",
} = Astro.props;
---

<div class="relative h-1/2 w-full md:h-full md:w-1/2">
    <Image
        id="side-image"
        class="h-full w-full object-cover"
        style="image-rendering: pixelated;"
        src={imageUrl}
        alt={alt_text}
    />
    <div
        class="absolute inset-x-0 bottom-0 mb-2rem flex flex-col items-center justify-center p-4 pt-8 text-center drop-shadow-md"
    >
        <h1 class="font-bold text-white text-4xl">{title}</h1>
        <p class="italic text-white">{description}</p>
    </div>
</div>

<script define:vars={{ hoverImageUrl, pageName }}>
    document.addEventListener("astro:page-load", () => {
        const imageElement = document.getElementById("side-image");
        const nextButton = document.getElementById(
            "next-story-element-" + pageName,
        );

        if (imageElement && nextButton && hoverImageUrl) {
            const originalSrc = imageElement.src;
            const hoverSrc = hoverImageUrl.src;

            const changeImageSrc = (src) => {
                if (imageElement.src !== src) {
                    imageElement.src = src;
                }
            };

            nextButton.addEventListener("mouseenter", () => {
                changeImageSrc(hoverSrc);
            });

            // nextButton.addEventListener("mouseleave", () => {
            //     changeImageSrc(originalSrc);
            // });

            nextButton.addEventListener("focus", () => {
                changeImageSrc(hoverSrc);
            });

            // nextButton.addEventListener("blur", () => {
            //     changeImageSrc(originalSrc);
            // });

            nextButton.addEventListener("click", (event) => {
                //event.preventDefault();
                changeImageSrc(hoverSrc);
            });
        }
    });
</script>
